@import "obnulenie.scss";


body{
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	display: inline-flex;
	margin: 35px;
	border: solid 1px black;
}
.header_image {
	margin: 30px 30px 0px 0px;
}
.header_text {
	margin: 140px 30px 50px 0px;
}
.header_text1 {
	font-size: 45px;
	font-weight: bold;
}
.header_text2 {
	font-size: 25px;
}
.header_text3 {
	font-size: 20px;
}
img{
	width: 500px;
	height: 500px;
}
.op1 {
	color: blue;
}
.op3 {
	color: red;
}
.op4 {
	color: rgb(235, 235, 69);
}
.op5 {
	color: blue;
}
.op6 {
	color: green;
}
.op7 {
	color: red;
}